body {
    margin: 0;
}

header {
    background-image: linear-gradient(to top,  #2a2a2a,  #575757);
    width: 100%;
    color: white;
    box-shadow: 0px 2px 3px grey;
}

header h1, h2 {
    margin-top: 0;
}

header h1 {
    font-size: 170%;
}

header h2 {
    font-size: 130%;
}

header td {
    margin-bottom: 30px;
}

main h2 {
    margin-top: 20px;
}

main ul {
    list-style-type: none;
    padding-left: 0;
}

main a {
    color: #6eb4d1;
}

footer img{
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    pointer-events: none;
}

.grid-container {
    display: grid;
    grid-gap: 30px;
}

.student-image {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    border-radius: 50%;
    background-color: #CCCCCC;
    border-style: solid;
    border-width: thin;
}